[2022-03-08 12:18] KendallDoesCoding opened #1 "[FEATURE REQUEST] Website to download people's journeys"
A HTML site, which will display all the journey's by coders, that if tapped, you can view the persons journey in the browser, choose to download a txt file of it.

It's a little of the concepts from [Linkfree](http://linkfree.eddiehub.org/) but not really.

[2022-03-08 12:19] KendallDoesCoding opened #2 "[DOCS] Format README a little better."
README.md looks great, but can be improved, by adding some badges, etc. I can work on this.

[2022-03-08 12:23] KendallDoesCoding opened #3 "Add hashtags to repo."
Add custom hashtags to the repo... This drags attention to the repo, which as you told me, you want people to share their journey, so it may drag people interested in the project?

![image](https://user-images.githubusercontent.com/84712013/157237532-57c8d3f1-19d2-47ff-a5df-9aac068dbea2.png)

[2022-03-08 12:24] KendallDoesCoding opened #4 "[DOCS] Add Code of Conduct (COC)"

[2022-03-08 12:24] KendallDoesCoding opened #5 "[DOCS] Add PR template"

[2022-03-08 12:24] KendallDoesCoding opened #6 "[DOCS] Add issue templates"

[2022-03-09 04:25] Adarsh-jaiss commented on #1
-- that's a great idea man!
Loved it!
Let's do this 😃😃

But I don't know web development, so we have to bring out some open source web developers 🙂
Who can contribute to this project

[2022-03-09 04:26] Adarsh-jaiss commented on #1
I you know anyone, kindly refer them to contribute 😃

[2022-03-09 04:28] Adarsh-jaiss commented on #3
Okay I am gonna add this😃

[2022-03-09 07:05] Adarsh-jaiss commented on #6
i'm gonna add it

[2022-03-09 07:18] Adarsh-jaiss commented on #6
-- it is done 👍
-- reopen this issue if you wanna make changes or wanna add more issue templates :)

[2022-03-09 07:18] #6 closed

[2022-03-09 07:28] Adarsh-jaiss commented on #6
kindly check out discussions tab of this repository :)

[2022-03-09 07:41] Adarsh-jaiss commented on #3
done :)

[2022-03-09 07:41] Adarsh-jaiss commented on #2
sure, go ahead  👍

[2022-03-09 07:55] Adarsh-jaiss commented on #4
-- kindly have a look at the pr of code of conduct :)

[2022-03-09 07:55] #4 closed

[2022-03-09 08:18] Adarsh-jaiss commented on #5
-- ADDED PR TEMPLATE :)

[2022-03-09 08:18] #5 closed

[2022-03-09 08:22] Adarsh-jaiss opened #11 "CREATE A WORKFLOW ANALYSIS"
-- I am going to add a workflow bot :)

[2022-03-09 08:26] Adarsh-jaiss commented on #11
added codeql-analysis.yml

[2022-03-09 08:26] #11 closed

[2022-03-09 09:51] KendallDoesCoding commented on #1
I can code the HTML, CSS part of it, the suggestion only needs that much, I'm not that good at JS, I'll get to work on this during the week, but for now I suggest you learn some Web Dev, in your free time!

[2022-03-09 09:54] KendallDoesCoding commented on #6
@Adarsh-jaiss Thanks, please review https://github.com/Adarsh-jaiss/journey-book/discussions/13 on the issue templates.

[2022-03-09 09:55] KendallDoesCoding commented on #3
@Adarsh-jaiss You got me wrong, I didn't say add exactly those hashtags, those were for my repo, for this repo you should add stuff like journey, experiences, open-source, coding-life, coding, etc

[2022-03-09 10:04] KendallDoesCoding commented on #3
I would make the edits if I could, but only the owner can :)

[2022-03-09 11:22] Adarsh-jaiss commented on #1
-- okay , i am gonna try to manage to learn it !

-- wait a minute,  i have to  find someone who knows javascript well and can work with us on this project :)

[2022-03-09 12:37] KendallDoesCoding commented on #1
ok cool!

[2022-03-09 13:17] Adarsh-jaiss commented on #3
-- okay I gave understood and make those changes

[2022-03-09 13:17] #3 closed

[2022-03-09 13:20] KendallDoesCoding commented on #3
@Adarsh-jaiss Thanks. content-creators can be removed in my opinion though.

[2022-03-09 13:36] KendallDoesCoding opened #18 "[FEATURE REQUEST] Add greeting action"
**Is your feature request related to a problem? Please describe.**
Add a greeting github action to the repo to display a greeting message, when user makes their first issue or PR in this repo.

**Describe the solution you'd like**
Welcome contributors to this project!

**Additional context**
I can work on this, but please provide me with the greeting message you want displayed when the user create

[2022-03-09 13:39] KendallDoesCoding commented on #1
@Adarsh-jaiss Please refer to https://github.com/Adarsh-jaiss/journey-book/discussions/19

[2022-03-09 13:44] Adarsh-jaiss commented on #18
-- Thank you for contributing to journey book
-- we love you and your pr (heart emoji)
-- Waiting for you another pr

[2022-03-09 13:49] Adarsh-jaiss commented on #18
-- you can also add something from your side :)

[2022-03-09 15:00] KendallDoesCoding commented on #18
LGTM, i don't think you can add 3 seprate lines though so here's what I'll add:

**PR GREETING (FIRST PR BY CONTRIBUTOR)**
Thank you for contributing to Journey Book. We love you and your PR ❤️ . Waiting for you to contribute again to Journey Book

**ISSUE GREETING (FIRST ISSUE BY CONTRIBUTOR)**
Thank you for contributing to Journey Book. We love you and your Issue ❤️ . Your issues, really help us

[2022-03-09 15:03] KendallDoesCoding commented on #1
@Adarsh-jaiss Okay, I need you to decide on the following:

**Options**
a) Web Dev to individually add a page for every persons journey, to download the stuff
b) Web Dev to code a bot to automatically, link the stuff from .json/.md files into the website (this will take much more work)

I can work on a for now, the issue with a is I need to be available anytime a user adds a journey, with b it tak

[2022-03-09 15:04] Adarsh-jaiss commented on #18
let it be ,do it for one time

[2022-03-09 15:05] Adarsh-jaiss commented on #1
we should go for the 2nd one because it will save a lot of time in future

[2022-03-09 15:06] KendallDoesCoding commented on #18
almost missed this xD

[2022-03-09 15:06] KendallDoesCoding commented on #18
@Adarsh-jaiss There's no :congrats: emoji there's only ㊗️

[2022-03-09 15:07] Adarsh-jaiss commented on #18
no that's not
let me show you

[2022-03-09 15:08] KendallDoesCoding commented on #18
Yeah ik, it comes under :/congratulations: tho

[2022-03-09 15:09] Adarsh-jaiss commented on #1
tell me one thing, is there any way that in future if we want to migrate from option (A) to(B) . so is that possible or not?

[2022-03-09 15:10] KendallDoesCoding opened #20 "[DOCS] Add contributing guidelines"

[2022-03-09 15:11] Adarsh-jaiss commented on #18
🎉

[2022-03-09 15:11] KendallDoesCoding commented on #1
Idrk, but yeah ig.

[2022-03-09 15:13] Adarsh-jaiss commented on #20
so, you mean i have to add the git commands for contributing and explain the whole process

[2022-03-09 15:14] Adarsh-jaiss commented on #1
then let's do "B". I have messaged a web developer. waiting for her reply.

here's is here id: https://github.com/riti2409

[2022-03-09 16:01] KendallDoesCoding commented on #18
Thx

[2022-03-09 16:04] #18 closed

[2022-03-09 16:05] KendallDoesCoding commented on #20
No, add contributing guidelines that for ex, what kinda PR's will be accepted in this repo, but it's not really needed coz this repo is to share your journey, so you can close this issue :)

[2022-03-09 16:06] KendallDoesCoding commented on #1
Ok cool! You can message @TechStudent10 too on their README.md repo in discussions tab, they may be down to help, but their a little busy these days!

[2022-03-09 16:08] KendallDoesCoding commented on #1
You can also contact @aliraza944 for JS help.

[2022-03-09 16:23] Adarsh-jaiss commented on #18
👍

[2022-03-09 16:24] Adarsh-jaiss commented on #20
Okay, just leave it :)

[2022-03-09 16:24] #20 closed

[2022-03-09 16:26] Adarsh-jaiss commented on #1
-- thanks for sharing
-- I am going to approach them tomorrow 🙂

[2022-03-09 16:33] KendallDoesCoding commented on #1
Ok! You can tell them, I recommended them to you!

[2022-03-09 17:24] KendallDoesCoding opened #21 "[DOCS] Add security policy to report security issues"

[2022-03-10 02:56] #21 closed

[2022-03-10 06:26] Adarsh-jaiss commented on #1
I have approached @Techstudent11 for help, waiting for his reply🙂

[2022-03-10 06:26] KendallDoesCoding commented on #1
Yup, got a email notific on that.

[2022-03-10 06:27] KendallDoesCoding commented on #1
Created the "website" branch in this repo to work on this. @Adarsh-jaiss Please host that branch on Netlify, or I think I may be able to do so.

[2022-03-10 06:29] KendallDoesCoding commented on #1
No, I can't.. Please host that branch on netlify, if you need any help you can reach out.

[2022-03-10 06:37] Adarsh-jaiss commented on #1
Can you tell me how can I do that?

[2022-03-10 06:37] Adarsh-jaiss commented on #1
Tell me the steps or processes

[2022-03-10 06:40] KendallDoesCoding commented on #1
Sure, but I've already setup my account so it may be wrong

- Sign Up to https://app.netlify.com/
- Go to https://app.netlify.com/start
- Tap GitHub
- Autorize Netlify to access your github
- It will take you to Netlify, tap this repo name
- Set branch to deploy as "website
- Go down to the page and say deploy site

Then, the site will deploy and any commits made to "website" will auto be deployed

[2022-03-10 06:41] Adarsh-jaiss commented on #1
Okay -- link me the branch

[2022-03-10 06:41] KendallDoesCoding commented on #1
Netlify already knows the branches, you just need to tap where it says "main" under Branch and set it to website.

[2022-03-10 06:42] Adarsh-jaiss commented on #1
Okay

[2022-03-10 06:43] Adarsh-jaiss commented on #1
What should I fill in the my first project section

[2022-03-10 06:44] KendallDoesCoding commented on #1
Please send ss,

[2022-03-10 06:44] Adarsh-jaiss commented on #1
Documentation & knowledge base
Or blog

[2022-03-10 06:44] Adarsh-jaiss commented on #1
Or something else

[2022-03-10 06:44] KendallDoesCoding commented on #1
Send screenshot, can't understand.

[2022-03-10 06:45] Adarsh-jaiss commented on #1
![Uploading IMG_20220310_121449.jpg…]()

[2022-03-10 06:45] KendallDoesCoding commented on #1
@Adarsh-jaiss Please come here: https://github.com/Adarsh-jaiss/journey-book/discussions/24

[2022-03-10 06:45] KendallDoesCoding commented on #1
Think you need to wait for it to upload then comment xD

[2022-03-10 07:14] KendallDoesCoding opened #28 "Issue with security workflows"
Unlike my repo, when added the workflows it shows this, this repo is showing that it's not been added yet, even though the workflow has been added and it's failing builds

My repo:
![image](https://user-images.githubusercontent.com/84712013/157608462-c8c534cc-6767-41ac-b569-4eb5896a166f.png)

This repo:
![image](https://user-images.githubusercontent.com/84712013/157608503-84f8562c-27e1-4055-988b-b

[2022-03-10 07:15] #2 closed

[2022-03-10 07:23] Adarsh-jaiss commented on #28
-- how can i fix this ? do you have any clue?

[2022-03-10 07:24] KendallDoesCoding commented on #28
Nope, tried making a PR to fix it, but it didn't work so reverted....

[2022-03-10 07:26] Adarsh-jaiss commented on #28
should we delete that
and readd it ?

[2022-03-10 07:30] Adarsh-jaiss commented on #28
-- recheck that , i have made some changes from settings. hope it will be fixed now :)

[2022-03-10 07:31] KendallDoesCoding commented on #28
no it aren't fixed.

[2022-03-10 07:32] Adarsh-jaiss commented on #28
please check this out : https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow

[2022-03-10 07:49] KendallDoesCoding commented on #28
Can't understand this.... Usually, I make the security policy's and workflows from that menu only and it works well.

[2022-03-10 09:18] Adarsh-jaiss commented on #28
-- try re- adding it:)

[2022-03-10 09:22] KendallDoesCoding commented on #28
Ok will do.

[2022-03-10 22:33] TechStudent11 commented on #1
So you want to be able to do is to download whatever "journey" a user has created.

So a couple of things
1. Are you willing to
    1. build a server?
    2. deal with the client/server model?
    3. build an entire database?

If so, I would be willing to help.

[2022-03-11 01:26] Adarsh-jaiss commented on #1
Yeah, that is all we want 😃

[2022-03-11 06:51] Adarsh-jaiss commented on #1
Let's do this guies 😃😃😃😃

[2022-03-11 09:03] KendallDoesCoding commented on #1
I'm a noob, can only do basic HTML, CSS, can't do any of this, sadly :(

[2022-03-11 11:25] Adarsh-jaiss commented on #1
@KendallDoesCoding  it's okay bro 🤜 :)

- let's divide the work according to our skill sets, so it will be easy to work on🙂

[2022-03-11 22:29] TechStudent11 commented on #1
Ok then here's what you need to do (I am not going to code the entire thing for you).

---

1. Learn how to create a server in your preferred language (JavaScript, Python, Ruby on Rails, etc.)
2. Connect a database (i.e MongoDB, Postgres, SQLite, etc.) to your server
3. Connect the frontend (in this case, your website) to the backend (your server).

---

You can then download the journeys by sendi

[2022-03-12 07:49] KendallDoesCoding commented on #1
This seems like a lot of work.

Heroku - https://heroku.com/
Netlify - https://netlify.com/

It's already hosted on netlify, we just need to update the domain.

@Adarsh-jaiss You can invite more people to work on this based on their skill set, if you don't want to do every thing, but for now, I can help you with the HTML, CSS, @TechStudent11 can help you when you do the listed by him for the JS.

[2022-03-13 02:40] Adarsh-jaiss commented on #1
Okay great :)
Now here's the roadmap and i am going to find someone who can do this with us :)

[2022-03-25 14:38] KendallDoesCoding commented on #1
Any update on this @Adarsh-jaiss ?

[2022-03-25 17:51] KendallDoesCoding commented on #1
Ok cool!

Even I'm busy with my final exams, will be free on the 9th April!

[2022-03-25 21:04] TechStudent11 commented on #1
If you really just get stuck, I could provide some help.

[2022-03-26 02:08] Adarsh-jaiss commented on #1
-- sounds great :)

[2022-04-01 07:23] Gbeka commented on #1
Hi, guys! I am currently studying the React. I didn't work with the database. Is it possible to learn this in a short time? And I have a question, what exactly am I need to do? I'll try

[2022-04-01 08:18] Adarsh-jaiss commented on #1
Can you write some javascript code for the website since @KendallDoesCoding will take care of html and css. And for the rest @TechStudent11  can help us Or guide us🙂

[2022-04-16 06:46] KendallDoesCoding commented on #1
@Gbeka Are you free to begin work now?

[2022-04-26 02:18] vikasganiga05 opened #29 "[DOCS] Add contribution guidelines"
A quick guide on how to contribute to this project in the `CONTRIBUTING.md` file. And provide a template to add a new journey. Which will help beginners to contribute easily.

[2022-04-26 05:43] Adarsh-jaiss commented on #29
Just go ahead and make a pr 😃

[2022-04-26 05:47] Adarsh-jaiss commented on #1
@vikasganiga05 can you code javascript for this project 😃 ?

[2022-04-27 03:26] vikasganiga05 commented on #1
Hi, I love to work on the JavaScript part. I will read this thread very soon. Vanilla JS or any framework?
Thank You :pray:

[2022-04-27 06:22] KendallDoesCoding commented on #1
vanilla JS

[2022-05-09 21:16] vikasganiga05 commented on #1
Hi, Sorry for the late reply. I like to work on this project. Let's start a new [discussion](https://github.com/Adarsh-jaiss/journey-book/discussions/new) on this topic.

[2022-05-09 22:23] vikasganiga05 opened #30 "[DOCS] Add header image to `README.md`"
**Is your feature request related to a problem? Please describe.**
No, it's just an improvement to `README.md`. Add header image to the top of the readme file. Which makes the `README.md` file look attractive.

**Describe the solution you'd like**
I used a tool called [GitHub Socialify](https://socialify.git.ci/) to generate the following header images :point_down:.

**Describe alternatives you've

[2022-05-11 03:56] Adarsh-jaiss commented on #30
The first one with dark theme looks great 👍

[2022-05-11 03:57] Adarsh-jaiss commented on #1
-- @KendallDoesCoding  will help you with that 😃

[2022-05-11 07:32] KendallDoesCoding commented on #1
Yup ofc, should I make the discussion or will you?

[2022-05-11 13:02] vikasganiga05 commented on #30
Done :+1:

[2022-05-11 15:29] vikasganiga05 commented on #1
Please can you create a discussion?

[2022-05-11 17:48] KendallDoesCoding commented on #1
Sure! I made #32, hope that works!

[2022-05-11 20:50] vikasganiga05 commented on #1
Thanks You :pray:

[2022-05-30 06:12] #30 closed

[2022-05-31 12:21] KendallDoesCoding commented on #1
@shourgamer2 - do you know web dev/JS, can you help me or @vikasganiga05 with this website?

[2022-05-31 12:26] KendallDoesCoding commented on #29
@vikasganiga05 Good idea.... We can also link the file on the website, when it gets done.

[2022-05-31 18:23] KendallDoesCoding commented on #29
This is included in `README.md`

[2022-05-31 18:27] KendallDoesCoding opened #33 "[FEATURE REQUEST] Create directory in repo called "journeys" where people can add their journey"
Write now, users have to share their journey's in the main directory, I think it will be better if they share it in a .md file within a directory called, "journeys"

I think, doing this may also help with #1 , but I aren't sure, @vikasganiga05 please confirm

[2022-06-01 09:10] Adarsh-jaiss commented on #33
Yeah you are right kendall
Hey @vikasganiga05  please confirm it

[2022-06-02 06:16] Adarsh-jaiss commented on #33
-- okay let me see, how can I do that. Because genuinely I have no ideas about that :)

[2022-06-11 18:13] KendallDoesCoding commented on #33
Will get to work on this now.

[2022-06-11 18:22] #33 closed

[2022-06-13 11:05] KendallDoesCoding opened #35 "[TYPO] 'webiste' instead of 'website'"
**Describe the bug**
The repo description reads as 'webiste' instead of 'website'. Hence, the banner as well is messed up

**Additional context**
@Adarsh-jaiss - Only you can fix this as no one but the repo owner can edit the description of the repo

Thanks @virejdasani for bringing this up to me.

[2022-06-13 11:24] Adarsh-jaiss commented on #35
👍👍

[2022-06-13 11:27] Adarsh-jaiss commented on #35
It's done 👍 kindly check that out

[2022-06-13 11:30] KendallDoesCoding commented on #35
@Adarsh-jaiss now the b is missing, it's currenctly 'wesite' not 'website'

[2022-06-13 11:32] Adarsh-jaiss commented on #35
Hahaha 😄😄let me check

[2022-06-13 11:32] #35 closed

[2022-06-13 11:35] KendallDoesCoding commented on #35
Perfect, I'll fix the banner.

[2022-06-13 11:36] KendallDoesCoding commented on #35
The banner should be fixed within a hour. I don't have to do anything. Thanks

[2022-06-13 11:47] KendallDoesCoding opened #37 "Issue with README.md on Website"
The README.md is messed up on the website for some reason.

Preview: https://adarsh-jaiss.github.io/journey-book/

@vikasganiga05 @Adarsh-jaiss @TechStudent11 - do yall know what the cause of this is?

[2022-06-13 11:49] Adarsh-jaiss commented on #37
Actually I don't, vikas do you have any idea?

[2022-06-13 11:59] KendallDoesCoding opened #39 "[FEATURE REQUEST] Change github pages theme"
"jekyll-theme-tactile" looks much better for this project in my opinion. What do you think @Adarsh-jaiss

[2022-06-13 11:59] KendallDoesCoding commented on #39
How that theme looks: - https://kendalldoescoding.github.io/journey-book-test/

[2022-06-13 12:00] KendallDoesCoding commented on #39
actually nvm, the current theme looks good as well.

[2022-06-13 12:00] #39 closed

[2022-06-13 12:31] vikasganiga05 commented on #37
Yes, This is because there is an unclosed `<a>` tag on line 8 in the `README.md` file.

https://github.com/Adarsh-jaiss/journey-book/blob/76edbbafd856b2d79d85b2399a537a7f8f3d3649/README.md?plain=1#L8

[2022-06-13 12:32] KendallDoesCoding commented on #37
Oh, will fix this. Thanks for debugging it @vikasganiga05

[2022-06-13 12:33] #37 closed

[2022-06-13 12:35] KendallDoesCoding commented on #29
@vikasganiga05 What's the status on this.

[2022-06-13 12:37] vikasganiga05 commented on #37
Most welcome :slightly_smiling_face:

[2022-06-13 12:40] vikasganiga05 commented on #29
I did not find any good template online for this. If you guys have any ideas share them. I think we can open a discussion on this topic.

[2022-06-13 12:42] KendallDoesCoding commented on #29
We require people to make a PR, because if it's done via the website, users without GitHub accounts while make inappropriate journeys  as discussed by @TechStudent11 in #32

[2022-06-13 13:24] vikasganiga05 commented on #29
It's a markdown template file like an issue template. Which helps users to add their journey easily.

[2022-06-26 20:41] vikasganiga05 opened #40 "[FEAT]: Create a user card to show users in the home page"
**Is your feature request related to a problem? Please describe.**
After implementing the docsify. Create a user card to display users on the home page which links to their respective journeys.

**Describe the solution you'd like**
I came up with the wireframe for the user-card :point_down:

![image](https://user-images.githubusercontent.com/74750414/175787355-77f21acf-d2ef-43d4-b8b2-fe688c2f97d6.

[2022-06-29 15:50] cojored commented on #1
I would be able to help out. If you have discord I respond fastest on discord add me cojored#2177.

[2022-06-29 17:55] KendallDoesCoding commented on #1
Hi. We have made a discussion (#32 ) do discuss on this. While discord works, I and others ig prefer to talk via GitHub Discussions, as it keeps everyone up to date, including new contributors, who may not have discord, and have just found the project, if you get what I mean :)

[2022-07-13 14:53] KendallDoesCoding commented on #40
@Adarsh-jaiss Do you know of a CSS UI/UX Designer who can help with this?

[2022-07-13 17:31] KendallDoesCoding opened #41 "[FEAT] Create a Favicon"
- For the website, we need a favicon, hence I require someone to create a favicon or to share a favicon design from the internet (copyright free) with me.

Was thinking of the favicon being a book or something.

Any ideas?

cc: @vikasganiga05 @Adarsh-jaiss

[2022-07-13 19:45] Adarsh-jaiss commented on #40
Yes, I know few people, let me talk to them :)

[2022-07-13 19:58] Prakharsharma2206 commented on #40
I'll make the card with this wireframe

[2022-07-14 05:38] KendallDoesCoding commented on #40
Hi Prakhar,

Thanks a ton!

On Thu, 14 Jul 2022 at 01:28, Prakhar Sharma ***@***.***>
wrote:

[2022-07-14 07:42] Prakharsharma2206 commented on #40
Where to push the code, because I couldn't find a file named home page.

[2022-07-14 07:43] KendallDoesCoding commented on #40
Somewhere in this repo branch:
https://github.com/neontuts/docsify-test/tree/final
<https://gessisc.com/click?redirect=https%3A%2F%2Fgithub.com%2Fneontuts%2Fdocsify-test%2Ftree%2Ffinal&dID=1657784612944&linkName=https://github.com/neontuts/docsify-test/tree/final>

On Thu, 14 Jul 2022 at 13:12, Prakhar Sharma ***@***.***>
wrote:

[2022-07-15 06:27] mehakagrawal commented on #41
There are many online favicon generators. You can generate one as per your needs. Here's one I found: https://www.favicon-generator.org/search/---/Book

I hope it helps!

[2022-07-15 06:27] mehakagrawal commented on #41
There are many online favicon generators. You can generate one as per your needs. Here's one I found: https://www.favicon-generator.org/search/---/Book

I hope it helps!

[2022-07-15 08:44] KendallDoesCoding commented on #41
Hey Mehak,

Yeah, I know this, but I would prefer if someone makes the favicon, because there are all weird copyright issues these days.

[2022-07-15 19:43] vikasganiga05 opened #45 "[BUG] Broken link to current journeys"
**Describe the bug**
There is a broken link at bottom of the README to the current journeys.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the bottom of [README.md](https://github.com/collab-community/journey-book/blob/main/README.md)
1. See the broken link.

**Expected behavior**
Change the link to &rarr; https://github.com/collab-community/journey-book/tree/main/journeys

**Screens

[2022-07-18 16:29] Adarsh-jaiss commented on #41
-- @mehakagrawal can you please make one favicon for us

[2022-07-19 15:28] #45 closed

[2022-07-19 18:21] #1 closed

[2022-07-19 18:21] KendallDoesCoding commented on #40
@Prakharsharma2206 any progress on this?

[2022-07-19 18:23] KendallDoesCoding opened #48 "[FEAT] Hyperlink website in sidebar, repo info"
@collab-community  , please add the website url in the about section, please tap the edit option and paste the website url in the field required, let me know if you need any help.

cc: @Adarsh-jaiss

[2022-07-21 07:35] KendallDoesCoding commented on #41
Hey Mehak,

LGTM, Please let me know your thoughts Vikas and Adarsh.

On Thu, 21 Jul 2022 at 00:52, Mehak Agrawal ***@***.***>
wrote:

[2022-07-21 08:01] KendallDoesCoding opened #49 "Page not dispalying in Sidebar"
I've added the line to link to page in sidebar.md like the rest, but after deploying the page isn't showing.
'  - [What Should My Journey Inculde?](../_pages/what-should-i-share.md)'

Please resolve asap @vikasganiga05.

cc: @Adarsh-jaiss @collab-community

[2022-07-21 08:09] #29 closed

[2022-07-21 11:26] KendallDoesCoding commented on #49
It takes 10 minutes - 1 hour, to update like badges but it's updated now

[2022-07-21 11:26] #49 closed

[2022-07-21 22:01] vikasganiga05 commented on #41
Hi Mehak, The icon is pixelated. Please can you share a good resolution image? We need to understand what the icon is saying :slightly_smiling_face:

[2022-07-21 22:12] vikasganiga05 commented on #40
Hi @Prakharsharma2206 , Please can you share a sneak peek of the card design. I will guide you on how to add the card to the website.

On the `index.md` file the below Vue.js code is rendering each card :point_down:
https://github.com/collab-community/journey-book/blob/9c7556ff7f0b9322a09549396c570abfe1be815f/index.md?plain=1#L6-L12

[2022-07-21 22:28] vikasganiga05 opened #50 "[STYLE] Separate css styles into an external style sheet"
**Is your feature request related to a problem? Please describe.**
Hi, My suggestion is to separate CSS in the `index.html` file into a CSS file called `style.css`. It will make CSS cleaner and more organized.

**Screenshot**

![image](https://user-images.githubusercontent.com/74750414/180324575-18b27503-71f2-4786-b058-bc80fa168f95.png)

[2022-07-22 03:45] ivanetra commented on #50
Hi @vikasganiga05, could u assign the issue to me?

[2022-07-22 09:05] KendallDoesCoding commented on #50
Good idea.

On Fri, 22 Jul 2022, 3:58 am Vikas Ganiga, ***@***.***> wrote:

[2022-07-22 13:27] mehakagrawal commented on #41
Hi Vikas, it was my pleasure creating this icon :)
I have already added the png files of the icon in the same drive folder. Let me know if you don't find it there?

[2022-07-22 14:15] vikasganiga05 commented on #50
Hi, This issue is assigned to you now. If you need any help let me know.

[2022-07-22 14:24] vikasganiga05 commented on #41
Yes, I found it. But the PNG is the same size as ICO. No worries please can you explain what the icon says? Like what is in between the book?

[2022-07-22 14:38] KendallDoesCoding commented on #41
Hi Vikas, I don't think it says anything, there are just a bunch of
avatars, let me know if this is correct Mehak.

On Fri, 22 Jul 2022 at 19:55, Vikas Ganiga ***@***.***> wrote:

[2022-07-22 15:09] vikasganiga05 commented on #41
Oh! Okay. Then we wait for @Adarsh-jaiss thoughts on this.

[2022-07-23 04:45] Abhinavkar commented on #41
hey @KendallDoesCoding Allow me to create some of icons for this project i will share you some in couple of hours

[2022-07-23 07:53] sambhavgupta0705 commented on #50
Hey ,is this issue resolved??

[2022-07-23 09:44] ivanetra commented on #50
Thank you @vikasganiga05! Sorry, I've just read the comment. I want to start to resolve it

[2022-07-23 11:46] KendallDoesCoding commented on #41
Hi Abhinav,

Thanks for wanting to contribute. Although, Mehak as already created
favicons for us. Will let you know if we need help. But, feel free to
contribute to this, by adding your journey, making the website better, etc.

Thanks a ton,
Kendall

On Sat, 23 Jul 2022, 10:15 am Abhinav kar, ***@***.***> wrote:

[2022-07-23 11:47] KendallDoesCoding commented on #50
Hi Sambhav, not yet but someone is working on it!

On Sat, 23 Jul 2022, 1:24 pm sambhavgupta0705, ***@***.***>
wrote:

[2022-07-23 15:57] #50 closed

[2022-07-23 15:58] KendallDoesCoding commented on #48
@collab-community please do this at the earliest, we can then get rid of the website section in README

cc: @Adarsh-jaiss

[2022-07-24 08:43] mehakagrawal commented on #41
There is a plant that is blooming above the pile of books.

[2022-07-24 10:15] KendallDoesCoding commented on #41
Ok cool. it looks good to me, if you like it @vikasganiga05 and @Adarsh-jaiss , we can proceed.

[2022-07-24 10:24] Adarsh-jaiss commented on #41
-- yes I really loved it 💙😃

[2022-07-24 10:26] KendallDoesCoding commented on #41
epic! let's proceed after @vikasganiga05 's approval in that case.

[2022-07-24 12:02] KendallDoesCoding opened #56 "Create a Journey and tell your friends about this project!"
We require users to create a journey in the [journeys directory](https://github.com/collab-community/journey-book/tree/main/journeys). By creating the journey your helping new coders and help inspire them.

Please also share with your friends.

[2022-07-24 12:03] KendallDoesCoding commented on #56
Keeping this issue open so it lists on http://finder.eddiehub.org/ where we can get awareness!

[2022-07-24 12:52] vikasganiga05 commented on #41
I like it too thanks! @mehakagrawal for creating favicon :pray:

[2022-07-25 04:33] vikasganiga05 opened #62 "[FEAT] Swap Journeys and Pages section on sidebar"
**Is your feature request related to a problem? Please describe.**
Hi, my suggestion is to swap the `Journeys` and `Pages` sections on the sidebar. Because when a new user visits the website the links under the `Pages` section help the user to know more about the project. What are your thoughts folks?

**Screenshot**

![image](https://user-images.githubusercontent.com/74750414/180699336-92ff8504-d

[2022-07-25 04:47] Adarsh-jaiss commented on #62
-- I totaly agree with you vikas , swamp this 👍🏻
-- one thing I would like to add , kindly checkout Ebuka's journey .. there's an error

[2022-07-25 07:42] KendallDoesCoding commented on #62
Yes. Will do this.

On Mon, 25 Jul 2022, 10:03 am Vikas Ganiga, ***@***.***>
wrote:

[2022-07-25 07:49] #62 closed

[2022-07-25 11:27] vikasganiga05 commented on #62
Thanks, Kendall.

[2022-07-26 13:42] Ebukachuqz opened #68 "style: Grammar mistakes in README file"
While reading the README file, i noticed som grammar mistakes, which if corrected, would enhance the readability of the README.md file.

It would also help others to better understand and read the procedures to joining our community. Screenshots below

![Screenshot from 2022-07-26 14-24-24](https://user-images.githubusercontent.com/31506237/181020128-90aeb8cc-8794-4e68-8650-626eb6af2c0d.png)
- Thi

[2022-07-26 15:31] Adarsh-jaiss commented on #68
-- kindly work on this issue and fix this

[2022-07-26 16:49] Ebukachuqz commented on #68
Alright. Will do

[2022-07-26 19:10] 05e commented on #68
my pull fixes most of the english, except for the camo image

[2022-07-27 08:10] Ebukachuqz commented on #68
Alright, I'll review for you

[2022-07-27 09:05] #48 closed

[2022-07-27 14:07] #68 closed

[2022-07-28 17:56] developer-diganta opened #70 "Improve the position of the dark/light theme toggler button in mobile devices"
**Describe the bug**
The theme toggler button is very close to text in case of mobile devices.

**To Reproduce**
Steps to reproduce the behavior:
Open website in mobile view

**Expected behavior**
A little space between text and button would look good.

**Screenshots**
Current State:
![image](https://user-images.githubusercontent.com/65999534/181605259-9b99fcc6-aa50-4653-8667-d02a7fdbb5c5.png)
Exp

[2022-07-28 17:57] developer-diganta commented on #70
Can I work on this?

[2022-07-28 18:59] Adarsh-jaiss commented on #70
-- yes you can work on this.. But before doing that.. Kindly check it out in your laptop and then decide the position

[2022-07-28 19:17] Adarsh-jaiss commented on #40
-- is it completed @vikasganiga05 @KendallDoesCoding ?

[2022-07-28 19:58] developer-diganta commented on #70
@Adarsh-jaiss Can you please tell me how to edit the CSS?

[2022-07-29 03:58] Abhinavkar commented on #41
Please Close this issue if the Favicon is created @KendallDoesCoding

[2022-07-29 04:02] Abhinavkar commented on #70
@Adarsh-jaiss assign me with part. @developer-diganta if you would like to ?

[2022-07-29 04:09] Abhinavkar commented on #70
#70 We need Change the css of the logo <div id="docsify-darklight-theme"> Top : 5px to top:8px for the mobile view

[2022-07-29 08:43] KendallDoesCoding commented on #41
Hi Abhinav,
The favicon is made but will close once is implemented on the website.

On Fri, 29 Jul 2022, 9:29 am Abhinav kar, ***@***.***> wrote:

[2022-07-29 08:54] KendallDoesCoding commented on #40
No, @Prakharsharma2206 is working on this. Awaiting his reply.

[2022-07-29 09:06] KendallDoesCoding commented on #70
this should be it? https://github.com/collab-community/journey-book/blob/main/style.css

[2022-07-29 09:06] KendallDoesCoding commented on #70
Will assign you if @developer-diganta is fine with it :)!

[2022-07-29 09:14] KendallDoesCoding opened #74 "No journey's listing on homepage."
For some reason, no journeys are listing on the home page anymore.

![image](https://user-images.githubusercontent.com/84712013/181726781-48efbfd0-c5c9-4f23-9382-d113f730d9d4.png)

@vikasganiga05 please fix at the earliest.

cc: @Adarsh-jaiss

[2022-07-29 09:40] KendallDoesCoding commented on #41
@mehakagrawak @Abhinavkar - I am transferring this into a discussion and will create a poll discussion, where we list all the favicons created by both of you for voting, which ever is voted the most will be our products favicon. Thanks

cc: @vikasganiga05 @Adarsh-jaiss @Vrashabh-Sontakke

[2022-07-29 09:40] #41 closed, assigned to mehakagrawal, Abhinavkar

[2022-07-29 12:54] developer-diganta commented on #70
@KendallDoesCoding yeah sure if @Abhinavkar wants it!

[2022-07-29 13:18] KendallDoesCoding commented on #70
Yes, he wants to work alongside with you, ig.

[2022-07-29 15:38] KendallDoesCoding commented on #74
Thanks for fixing this @vikasganiga05.

Fixed in [32834a2](https://github.com/collab-community/journey-book/commit/32834a24fcfe4e53968a9a032653e6e68c64ebfa)

[2022-07-29 15:38] #74 closed

[2022-07-29 15:41] KendallDoesCoding opened #77 "List all journey's in sidebar, make text for sidebar VERY tiny just enough for name to be seen"
A few journey's are not visible in sidebar, please fix the issue and make the text in sidebar very small so there's place for atleast 25-30 journey's for now.

Please work on this @vikasganiga05

cc: @Adarsh-jaiss

[2022-07-29 17:02] TechStudent11 commented on #77
I do not recommend this. Instead, there should be a page with all the journeys. Also I think you should rethink about #46.

[2022-07-29 17:27] KendallDoesCoding commented on #77
There is already a page with all the journeys which is: https://collab-community.github.io/journey-book/ but there is also a sidebar.

Will discuss with @Adarsh-jaiss and @Vrashabh-Sontakke and team and let you know at the earliest.

[2022-07-29 18:43] vikasganiga05 commented on #77
Some journeys are not showing in the sidebar because of the branch protection. The `main` branch is protected so the gh-action failed to update the sidebar. I don't know how to tackle this issue. Does anyone know the solution please share?

[2022-07-30 00:50] KendallDoesCoding commented on #77
Ooh. Then can the gh-actions make a PR or something?

On Sat, 30 Jul 2022, 12:13 am Vikas Ganiga, ***@***.***>
wrote:

[2022-07-30 08:17] KendallDoesCoding commented on #70
Any update on this @developer-diganta @Abhinavkar?

[2022-07-30 09:26] KendallDoesCoding commented on #28
@Adarsh-jaiss Please confirm if this is fixed. I believe it is.

cc: @collab-community/mantainers

[2022-07-30 10:41] KendallDoesCoding opened #81 "Add workflow, gh-action to fix grammer in people's journey."
It's a common mistake to make typos and grammar mistakes, but as this is going on a website, it would be great if we can find a workflow that once the PR is made, reviews fixing the grammar error or a gh-action which does it automatically, without the review of the person who's journey it is, but I would prefer if it does it at the time of the PR itself.

What do you think @Adarsh-jaiss @vikasgani

[2022-07-30 10:43] Adarsh-jaiss commented on #81
-- guys find me a workflow and I will add it

[2022-07-30 10:44] KendallDoesCoding commented on #81
👍

[2022-07-30 10:46] KendallDoesCoding commented on #28
Closing for now as it seems to be fixed, will reopen in future if there is a problem.

[2022-07-30 10:46] #28 closed

[2022-07-30 10:46] KendallDoesCoding commented on #40
@Prakharsharma2206 Please give a status update on this or we will have to assign someone else :)!

[2022-07-30 11:21] KendallDoesCoding opened #88 "[Vikas Gangia's Journey] Bad Quality Icons"
Hi @vikasganiga05 ,

The connect with me icons are BAD quality, please shift them to better quality icons

### Additional information

![image](https://user-images.githubusercontent.com/84712013/181908612-5c660227-a8b9-4547-84f8-cdb7bf5e152d.png)

[2022-07-30 14:55] #70 closed

[2022-07-30 15:01] #77 closed

[2022-07-30 17:09] KendallDoesCoding opened #93 "[FEAT] Add favicon as profile picture of user for journey's on website"
This will be hard to implement but it's just a idea: I was thinking as the favicon for people's journeys we can add their profile picture, listed in Data.json

Is this possible @vikasganiga05?

cc: @Adarsh-jaiss

[2022-07-31 01:46] vikasganiga05 commented on #88
Thanks, Kendall for catching this issue :pray: I will add this once this PR gets merged/closed &rarr; #87

[2022-07-31 02:05] vikasganiga05 commented on #93
This feature may be possible I have to do some research on this.

[2022-07-31 05:49] Prakharsharma2206 commented on #40
I have already uploaded the code in a new file , the very next day this
issue was raised.

On Sat, 30 Jul, 2022, 4:16 pm Kendall, ***@***.***> wrote:

[2022-07-31 05:58] KendallDoesCoding commented on #40
Can you make a PR in that case bro?

[2022-07-31 07:05] Prakharsharma2206 commented on #40
I had already made.
 I'll make a PR again.
I am in a flight right now and will make the PR again by evening.

On Sun, 31 Jul, 2022, 11:28 am Kendall, ***@***.***> wrote:

[2022-07-31 07:07] KendallDoesCoding commented on #40
Ok, no worries. Thanks, sorry for the inconvenience

On Sun, 31 Jul 2022 at 12:36, Prakhar Sharma ***@***.***>
wrote:

[2022-07-31 07:42] Prakharsharma2206 commented on #40
No issues.
I'll always be there for any help that I can cater.

On Sun, 31 Jul, 2022, 12:38 pm Kendall, ***@***.***> wrote:

[2022-07-31 16:49] vikasganiga05 commented on #88
The icons are fixed by &rarr; https://github.com/collab-community/journey-book/commit/2878a4ca0adec6a2220069b81cacc96c651e00ce

[2022-07-31 16:52] KendallDoesCoding commented on #88
The quality of the last icon is improved, but of the first 3 are still BAD.

![image](https://user-images.githubusercontent.com/84712013/182036962-a2989527-bc35-47a6-a576-00aae7914fac.png)

[2022-07-31 16:53] KendallDoesCoding commented on #40
😃 .

[2022-07-31 16:58] vikasganiga05 commented on #88
No, it's looking good on my device.

[2022-07-31 16:59] KendallDoesCoding commented on #88
Oops, sorry. That's cause my Chrome as an error, it became darkmode a while ago without me doing anything and it messed up icons a bit. My bad

[2022-07-31 17:00] vikasganiga05 commented on #88
Oh! no worries. Thanks!

[2022-07-31 17:00] KendallDoesCoding commented on #88
No, it looks bad even on normal Chrome, can you send a screenshot from your device on the website.

[2022-07-31 17:01] KendallDoesCoding commented on #88
I tried it on the Chrome which works and even on lightmode and darkmode of docsify it is like this, it's not a big deal but if you can improve the quality, it would be better.

[2022-07-31 17:04] vikasganiga05 commented on #88
#### DARK MODE

![image](https://user-images.githubusercontent.com/74750414/182037404-81c2ed90-af2e-4f88-8529-154c62fd715e.png)

#### LIGHT MODE

![image](https://user-images.githubusercontent.com/74750414/182037440-9559d620-387a-4aeb-bead-7eadac38f153.png)

[2022-08-01 07:51] KendallDoesCoding commented on #88
There are black lines on the twitter and linkedin icons, instead of just being the solid icon even in your screenshot.

[2022-08-01 09:28] KendallDoesCoding commented on #81
@vikasganiga05 Can you search for a workflow?

[2022-08-01 10:44] Abhinavkar commented on #93
i think we could use event and props property and try it out Ig

[2022-08-01 10:47] KendallDoesCoding commented on #93
Can you make a PR?

On Mon, 1 Aug 2022 at 16:15, Abhinav kar ***@***.***> wrote:

[2022-08-01 13:07] vikasganiga05 commented on #88
It's not the solid icons they are illustrated icons.

[2022-08-01 13:11] vikasganiga05 commented on #81
Okay, I will let you know once i find the gh-action for this.

[2022-08-01 14:34] KendallDoesCoding commented on #81
Ok, thanks!

On Mon, 1 Aug 2022 at 18:41, Vikas Ganiga ***@***.***> wrote:

[2022-08-02 05:04] diksha1159 commented on #81
Can we embed Grammarly API?

[2022-08-02 07:54] KendallDoesCoding commented on #81
Sure. If it's free! Please make a PR

On Tue, 2 Aug 2022, 10:34 am Diksha, ***@***.***> wrote:

[2022-08-02 08:20] KendallDoesCoding commented on #81
Also, @diksha1159 Please confirm if it will work for .md files. (markdown script)

[2022-08-02 15:35] KendallDoesCoding commented on #40
@Prakharsharma2206 Hey, Reminder on this! Please create a PR in this repo.

[2022-08-02 22:14] AzeezTM commented on #93
I will like to try it out to

[2022-08-03 01:30] vikasganiga05 commented on #93
Okay, If you need any help feel free to ask here or on [Discord Server](https://discord.gg/PGadh3Vyuv).

[2022-08-03 07:44] KendallDoesCoding commented on #93
Sure! Feel free to do it. Please make a PR

On Wed, 3 Aug 2022, 3:44 am Tunji Mubarak Azeez, ***@***.***>
wrote:

[2022-08-03 11:09] AzeezTM commented on #93
How can I make a PR?

[2022-08-03 11:26] KendallDoesCoding commented on #93
- Fork the repo
- Create a branch in your fork
- Do the required changes to fix this issue
- Create a PR following:  https://opensource.pradumnasaraf.co/#/pages/How-to/guide/creating-pr

[2022-08-03 12:22] KendallDoesCoding commented on #81
@diksha1159 Waiting for your reply!

[2022-08-03 22:45] vikasganiga05 commented on #88
Hi @KendallDoesCoding , I am closing this issue.

[2022-08-03 22:45] #88 closed

[2022-08-04 00:03] vikasganiga05 commented on #93
#### Hi, here is my solution for this feature :point_down:
Preview &nbsp; &rarr; &nbsp; https://deploy-preview-3--neontuts-docsify-test.netlify.app/
Code &nbsp; &nbsp; &nbsp; &rarr; &nbsp; https://github.com/neontuts/journey-book/tree/93-feat-dynamic-favicon

[2022-08-04 05:18] KendallDoesCoding commented on #88
Ok, but can you make them solid icons?

On Thu, 4 Aug 2022 at 04:15, Vikas Ganiga ***@***.***> wrote:

[2022-08-04 05:20] KendallDoesCoding commented on #93
Ayy, works really well, but instead of the square in the background can it
just be the image of the user, if that's not possible, no worries. Please
make a PR. Thanks!

On Thu, 4 Aug 2022 at 05:33, Vikas Ganiga ***@***.***> wrote:

[2022-08-04 12:40] KendallDoesCoding commented on #81
Off-topic, but this is the first thing that pops up when we search on google for grammer gh-action LOL

![image](https://user-images.githubusercontent.com/84712013/182849362-679dc10a-a540-4ccb-a08a-8cc1092d54a9.png)

[2022-08-04 12:40] KendallDoesCoding commented on #81
Awaiting your reply @diksha1159

[2022-08-04 12:46] KendallDoesCoding commented on #40
@Prakharsharma2206 Hi, please create a PR at the earliest, this is the last issue pending for the website, for now.

[2022-08-04 15:01] diksha1159 commented on #81
https://developer.grammarly.com/
read about Grammarly API here

I have applied for Grammarly Text Editor SDK
![image](https://user-images.githubusercontent.com/76660222/182879903-9e625dc2-7807-41f0-93ac-3aaaf8b3e1a8.png)
Let's wait for Grammarly's response and then take action accordingly
let me know your thoughts

[2022-08-04 15:03] KendallDoesCoding commented on #81
Oh ok. Thanks!

[2022-08-04 18:43] vikasganiga05 commented on #88
May I know why?

[2022-08-04 18:47] vikasganiga05 commented on #93
Thanks, The favicons will change according to the user's avatar they provided in the `Data.json`. If find a way to modify the image I will do that else I will make the PR. Thank You :pray:

[2022-08-05 07:47] KendallDoesCoding commented on #88
It looks better in my opinion but it's your choice :)

On Fri, 5 Aug 2022, 12:13 am Vikas Ganiga, ***@***.***> wrote:

[2022-08-05 07:47] KendallDoesCoding commented on #93
Ok thanks. Please close this issue.

On Fri, 5 Aug 2022, 12:17 am Vikas Ganiga, ***@***.***> wrote:

[2022-08-05 07:55] #93 closed

[2022-08-05 08:17] KendallDoesCoding opened #106 "Query on Favicon"
After merging #105 , this favicon is showing on the home page:
![image](https://user-images.githubusercontent.com/84712013/183033986-90bae0bc-ef61-41f1-9656-dcc6c5d3a3ab.png)

But, once the vote #99 is done today, I am supposed to be changing the favicon, but how can I do it if this is the current favicon?

Please help @vikasganiga05

[2022-08-05 13:51] vikasganiga05 commented on #106
I added that favicon temporarily. Once vote #99 is completed then you can replace the `favicon.ico` file with the favicon won in the vote.

If the favicon is `.ico`, then no need to change the `index.html` file. If it's a `.png` then make the following change to the `index.html` file.

[code]

[2022-08-05 14:03] vikasganiga05 commented on #88
Okay, Thanks! I will think about it. Or I will change it in the future.

[2022-08-05 14:49] KendallDoesCoding commented on #106
Ok. Thanks for your help Vikas!

[2022-08-05 14:49] #106 closed

[2022-08-05 14:50] KendallDoesCoding commented on #88
Sure!

On Fri, 5 Aug 2022 at 19:33, Vikas Ganiga ***@***.***> wrote:

[2022-08-06 08:08] KendallDoesCoding commented on #40
@vikasganiga05 , can you please create the PR and add PrakharSharma as the co-author? https://github.com/Prakharsharma2206/docsify-test/tree/patch-1

@Prakharsharma2206 seems to be busy!

[2022-08-06 08:11] KendallDoesCoding opened #108 "Favicon background not getting removed."
What requires to be done:
- Remove background from Favicon
- Change color from "black" to "white" for background of book.

[2022-08-06 15:35] vikasganiga05 commented on #40
Okay, I will do that as soon as possible. Kendall, how can I add Prakhar Sharma as a author?

[2022-08-06 16:05] KendallDoesCoding commented on #40
using github desktop, or you inculde something in description of commit, i forgot what it was.

[2022-08-06 16:46] Abhinavkar commented on #108
Ya sure will make pr soon !

[2022-08-06 18:58] vikasganiga05 commented on #108
Please can you work on this I am busy with some other work?

[2022-08-07 22:18] Abhinavkar commented on #108
@KendallDoesCoding is svg format is supported instead of ico ?

[2022-08-08 04:40] KendallDoesCoding commented on #108
??

On Mon, 8 Aug 2022, 3:48 am Abhinav kar, ***@***.***> wrote:

[2022-08-09 03:15] Abhinavkar commented on #108
I am saying that can i share .svg instead of .ico i am also unable to remove in background .

[2022-08-09 03:17] Abhinavkar commented on #108
@KendallDoesCoding  i was saying that instead of .ico can we use .svg for favicon ? because  i am also facing the same issue
background isnt changing

[2022-08-09 04:39] KendallDoesCoding commented on #108
The background is removed but it looks bad as it's darkmode, please make it
light and then you can share as .svg!

On Tue, 9 Aug 2022 at 08:47, Abhinav kar ***@***.***> wrote:

[2022-08-09 04:43] KendallDoesCoding commented on #40
@vikasganiga05 @Prakharsharma2206 any update on the PR?

[2022-08-09 07:13] vikasganiga05 commented on #40
I started working on it now.

[2022-08-09 07:26] KendallDoesCoding commented on #40
Nono, just use @Prakharsharma2206 's code, but make him the co-author, he's done it already

[2022-08-09 07:27] vikasganiga05 commented on #40
Yes, but it has many issues.

[2022-08-09 07:30] KendallDoesCoding commented on #40
Oh, then no worries.

[2022-08-09 13:00] #40 closed

[2022-08-09 14:18] KendallDoesCoding opened #112 "[URGENT] Journey not updating on Website"
The token seems to be "expired" or removed. I hope you had set the token to never expire once it was created @Adarsh-jaiss . Hence, the journey's are not updating on the website, which is really BAD, please fix at the earliest @Adarsh-jaiss.

cc: @vikasganiga05

[2022-08-09 14:19] KendallDoesCoding commented on #112
"authorization":"token [REDACTED]"}}}

SOURCE: https://github.com/collab-community/journey-book/runs/7747975742?check_suite_focus=true

[2022-08-10 13:39] Adarsh-jaiss commented on #112
I haven't created this token. It was created by you or vikas

[2022-08-10 13:42] KendallDoesCoding commented on #112
Oh, request you to please create this token. @vikasganiga05 will guide you.

[2022-08-10 13:45] Adarsh-jaiss commented on #112
Kindly explain me the process and I will create it ASAP! ,
PLEASE ADD WHAT TO CHOOSE WHILE CREATING ACCESS TOKEN TOO

[2022-08-10 13:45] KendallDoesCoding commented on #112
even im not sure, lemme see.

[2022-08-10 13:46] KendallDoesCoding commented on #112
@Adarsh-jaiss choose everything generate the token and put it in BOT_ACCESS_TOKEN environment secret and see if it works, if it doesn't then idk

[2022-08-11 12:46] KendallDoesCoding commented on #112
Fixed yesterday, although now it's on my token instead of @Adarsh-jaiss.

[2022-08-11 12:46] #112 closed

[2022-08-11 12:49] KendallDoesCoding opened #115 "GitHub workflow to put a message once Journey is merged."
It would be epic, if for **ADDING JOURNEY PR'S** there was a GitHub action that once the PR is merged, would drop a message saying:

Woo-Hoo, your Journey is now merged.
Check it out on our website - {https://collab-community.github.io/journey-book/#/journeys/{username}}

Is this possible @vikasganiga05? If yes, please find a workflow that does it, or let me know if you can code a workflow to do s

[2022-08-11 12:50] KendallDoesCoding commented on #108
Any update on this @Abhinavkar?

[2022-08-11 12:55] KendallDoesCoding commented on #108
Updated the issue description.

Please check @vikasganiga05 @Abhinavkar

[2022-08-11 12:57] KendallDoesCoding commented on #108
![imageedit_11_6412517669](https://user-images.githubusercontent.com/84712013/184138392-4bcc6c73-7b00-41f5-b232-8e0abbae5134.png)

I require something like this but cleaner, because the favicon looks bad when it's black in background and text not visible.

[2022-08-11 13:08] vikasganiga05 commented on #115
Good idea but this will be complicated because the workflow will run for every PR. I don't know if is there a way to run for particular PR.

[2022-08-11 13:09] KendallDoesCoding commented on #115
Run only if files changes are having the BOTH the extension, .md, .json coz the journey PR will have to have that?

[2022-08-11 13:19] vikasganiga05 commented on #115
Yes, I need to do some research on that. I will try to complete it as soon as possible. If anyone found a solution please share.

[2022-08-11 13:26] KendallDoesCoding commented on #115
Ok cool!

[2022-08-11 16:12] Abhinavkar commented on #108
![Jb_w-removebg-preview](https://user-images.githubusercontent.com/75711413/184179869-9af66a96-d366-41cf-9b52-fd97c9120d8f.png)
![J_B__1_-removebg-preview](https://user-images.githubusercontent.com/75711413/184179878-38e8674d-4307-4030-90e7-e265da167437.png)
![J B p](https://user-images.githubusercontent.com/75711413/184179976-9fec0f6e-e87a-40eb-9b88-c9f584bcc6cf.png)

Check These out select one o

[2022-08-11 16:14] Abhinavkar commented on #108
Then i ll put a pr for it

[2022-08-11 16:17] KendallDoesCoding commented on #108
All look good, it's between the 1st and second one, both look good here but we should see in favicon form what looks the best can you make it a .ico file, just gotta google "convert jpg/png to ico". THanks

[2022-08-11 17:29] KendallDoesCoding opened #120 "Color not changing to White"
After the #118 disaster of it messing the site up because LOCALLY and in the website were different, I have not fixed the issue more or less, but the color is not changing back to white in the toggle, it's only Matte Black and Dark Blue, @vikasganiga05 please can you make the main background as white?

[2022-08-12 07:49] #108 closed

[2022-08-12 07:50] KendallDoesCoding commented on #120
@namyakhan the issue didn't get fixed.

[2022-08-12 07:52] KendallDoesCoding commented on #120
Sorry, it was a deploy issue. It got fixed, but you changed the color back to what it was originally, I wanted it Matte Black lol

[2022-08-12 07:52] #120 closed

[2022-08-18 23:04] AbbeyIT opened #128 "[DOCS] Fix documentation links in the readme file"
**Describe the bug**
A 404 error has occurred when accessing all the links in the documentation, such as "What is Journey Book?"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'README.md'
2. Scroll down to 'Documentation'
3. Click on 'What is Journey Book?', 'Why We Created this Project!', 'Share Your Experience NOW!!!', 'What Should My Journey Include?'
4. See error

**Expected behav

[2022-08-19 18:49] vikasganiga05 commented on #128
Hi @AbbeyIT , Thanks for reporting the bug. Please let us know if you like to work on this issue.

[2022-08-20 01:25] AbbeyIT commented on #128
HI @vikasganiga05 I would like to work on this issue. Please assign it to me. Thank you.

[2022-08-20 16:04] vikasganiga05 commented on #128
Sorry for the late reply. I assigned it to you.

[2022-08-22 03:40] #128 closed

[2022-08-22 03:47] Adarsh-jaiss opened #130 "Greetings, code format and one other workflow not running"
**Describe the bug**
The workflows are not running

**To Reproduce**
Steps to reproduce the behavior:
- I think we need to update the workflowa

**Expected behavior**
Maybe it is because of tokens

**Screenshots**
![IMG_20220822_091605](https://user-images.githubusercontent.com/96974600/185834556-a25078f8-0f54-49cc-8c0a-2a20c7fbeb42.jpg)

[2022-08-30 19:06] vikasganiga05 commented on #130
The workflow we are using for `Greetings` has some issues in its code. So, I suggest using [EddieHubCommunity/gh-action-community](https://github.com/EddieHubCommunity/gh-action-community) gh-action instead of the current one. What your thoughts on this @Adarsh-jaiss ?

![image](https://user-images.githubusercontent.com/74750414/187521554-f796ee3e-af97-4915-b44b-a19db9d2d17c.png)

[2022-09-27 03:47] vikasganiga05 opened #137 "[BUG] Low contrast text on light theme"
**Describe the bug**
In the light theme, some text on the website is hard to read.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://collab-community.github.io/journey-book/](https://collab-community.github.io/journey-book/)
2. If the site theme is dark switch to light by clicking this icon &rarr; ![image](https://cdn.jsdelivr.net/npm/docsify-darklight-theme@latest/icons/sun.svg

[2022-09-27 10:18] hasnainmakada-99 commented on #137
Hey @vikasganiga05 I would like to work on this issue

[2022-09-27 10:52] tejask1730 commented on #137
i would like to resolve this issue ? can I.

[2022-09-27 23:43] vikasganiga05 commented on #137
Sure, feel free to work on it.

[2022-09-27 23:46] vikasganiga05 commented on #137
Sorry @tejask1730 , @hasnainmakada-99 was the first to ask. Please look for some other issues or you can help him. Thank You :pray:

[2022-09-29 08:23] #137 closed

[2022-10-09 14:06] hugekontrast opened #179 "Formalizing Data.json with fewer parameters"
**Is your feature request related to a problem? Please describe.**
In Data.json file, each user data is structured as

[code]

The `avatar_url` only requires the `username` as the filling parameter. The URL can be constructed using `username` only like,
[code]

**Describe the solution you'd like**
I would like to change the data schema to

[code]
This would reduce the code size and create fewer er

[2022-10-10 13:01] #56 closed

[2022-10-13 15:38] UlbertAO commented on #179
if its open I can work on this

[2022-10-14 10:39] soumdatta81 opened #185 "Display picture missing and wrong text alignment."
**Describing the bug**
The bug is in a profile where the user's display picture is missing. Also, because of the text alignment, affects the looks of the website(screenshot attached below).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Website](https://collab-community.github.io/journey-book/#/)
2. Scroll down.
3. Look for the "Sneha Agarwal" profile
4. See the error

**Expected

[2022-10-21 07:20] vikasganiga05 opened #195 "Remove size badge and new status badges"
The github-size badge is broken for some technical issues. So, remove it. Then add new badges.

![image](https://user-images.githubusercontent.com/74750414/197134007-722403ba-a519-460f-a19a-0ffb31022561.png)

### Add new status badges

[code]

![image](https://user-images.githubusercontent.com/74750414/197136614-a125f650-8838-494f-88c4-3aeb747a8919.png)

[2022-10-21 07:22] itsmanojthapa commented on #195
assign me this issue

[2022-10-21 07:23] Muhammad-Shahid-Jamal commented on #195
Hi @vikasganiga05  kindly assign this issue to me so i can work on it

[2022-10-21 07:31] vikasganiga05 commented on #195
Go ahead. It's assigned to you.

[2022-10-21 07:33] vikasganiga05 commented on #195
It's assigned to Manoj. He was first. You can work on other issues Thanks!

[2022-10-21 07:33] vikasganiga05 commented on #195
It's assigned to Manoj. He was first. You can work on other issues Thanks!

[2022-10-21 17:53] #195 closed